.jumbo {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 200px;
  grid-template-areas:
    "a b c"
    "c d e";
  min-height: 500px;
}

.movieDetailHeaderRow {
  grid-area: d;
  width: 50%;
  align-self: center;
  margin-left: 25%;
}

.movieDetailContainer {
  display: grid;
  grid-template-columns: 25% auto;
  grid-column-gap: 1rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 0.5rem;
  box-shadow: 0px 2px 3px #000;
}

.movieDetailContainer img {
  width: 100%;
  height: auto;
}

.movieSummary p {
  text-align: left;
}

@media screen and (max-width: 600px) {
  .movieDetailHeaderRow {
    grid-area: b;
    width: 100%;
    align-self: center;
    margin-left: 0;
  }
  .movieSummary h2 {
    font-size: 1rem;
  }
  .movieSummary p {
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 680px) {
  .movieDetailHeaderRow {
    grid-area: b;
    align-self: center;
  }
  
}

@media only screen and (min-width: 768px) {
  .movieDetailHeaderRow {
    grid-area: b;
    align-self: center;
  }
}

@media only screen and (min-width: 992px) {
}
