.castAndCrewContainer{
  margin-top:4rem;
  padding: 5px;
  display: grid;
  grid-gap: 50px;
  grid-template-columns:repeat(2, 1fr);
}

.castCardContainer{  
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 3rem;
  grid-row-gap: 2rem;
  margin-right: 20%;
}
.crewCardContainer{
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 3rem;
  grid-row-gap: 2rem;
  margin-left: 20%;
}
.card{
  margin: 10px;
  color: #fff;
  box-shadow: 5px 5px 22px 5px #0f0f0f;
  background-color: #605e5e !important;
  padding: 0.2rem;
}

.card-title{
    text-shadow: 1px 2px 3px #666;
}
.card-text{
  font-size:0.9rem;
}
.card-body{
  padding: 0;
}

@media screen and (max-width: 600px) {
  .castAndCrewContainer {
    margin-top: auto;
    padding: 0px;
    grid-gap: 0px;
    margin-right: 0;
  }
  
  .castAndCrewContainer h3{
  font-size: 1.2rem;
  }
  
  
  .castAndCrewContainer h4{
  font-size: 1.0rem;
  }
  
  .crewCardContainer, .castCardContainer{
  grid-column-gap: 0.2rem;
  grid-row-gap: 0.1rem;
  padding: 0;
  grid-template-columns: repeat(2, 1fr);
  }
  .castCardContainer{
    margin-right: 0px;
  }
  .crewCardContainer{
    margin-left: 0px;
  }  
  
  .card-body{
  padding: 0.2rem!important;
  margin: 0;
  }
  .card-title{
    font-size: 0.8rem;
  }  
  
  .card-text{
    font-size: 0.7rem;
  }
}
@media only screen and (min-width: 680px) {
  
}

@media only screen and (min-width: 768px) {

  .crewCardContainer, .castCardContainer{
    grid-column-gap: 0.2rem;
    grid-row-gap: 0.1rem;
    padding: 0;
    }

  .card-body{
    padding: 0!important;
    font-size: 1rem!important;
  }
  .card-title{
    font-weight: bold;
    margin-top:0.3rem;
  }

  .castCardContainer{
    margin-right: 0px;
  }
  .crewCardContainer{
    margin-left: 0px;
  }  
}

@media only screen and (min-width: 992px) {
}
