.movieSearchContainer{
  margin: 1rem;
  padding: 2%;
  display: flex;
  flex-direction: row;
  width: 45%;
  margin-left: 25%;
}

.movieSearchContainer .input-group-prepend{
  margin: 10px;
}

.movieSearchContainer .btn{
  margin-left: 5px;
}

@media screen and (max-width: 600px) {
  .movieSearchContainer{
    width: 95%;
    margin-left: 0%;
  }
}

@media only screen and (min-width: 768px) {
  .movieSearchContainer{
    width: 65%;
    margin-left: 18%;
  }
}